<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>

<body>
    <script>
        function RandomColor(visi) {
            var r = Math.floor(Math.random() * 255);
            var g = Math.floor(Math.random() * 255);
            var b = Math.floor(Math.random() * 255);
            var result = 'rgba(' + String(r) + ',' + String(g) + ',' + String(b) + ',' + String(visi) + ')'
            return result;
        }
        function Generator(dataLength, visi) {
            var result = []
            for (var i = 0; i < dataLength; i++) { result.push(RandomColor(visi)); }
            return result;
        }
    </script>

<script>
    var osCol = <%- JSON.stringify(os[0]) %>;
    var osData = [<%= os[1] %>];
  </script>



    <canvas id="donutChart"></canvas>
    <script>
        var ctxD = document.getElementById("donutChart");
if(ctxD!=null){
  ctxD.getContext('2d');
var myChart = new Chart(ctxD, {
  type: 'doughnut',
  data: {
    labels: osCol,
    datasets: [{
      backgroundColor: [
        "#2ecc71",
        "#3498db",
        "#95a5a6",
        "#9b59b6",
        "#f1c40f",
        "#e74c3c",
        "#34495e"
      ],
      data: osData,
      //hashid: ['a1', 'a2', 'a3', 'a4', 'a5', 'a6', 'a7']
    }]
  },
  options: {
    legend: {
      display: true,
      position: 'right',
      labels: {
        padding: 8,
        usePointStyle: true,
      }
    }
  }
});
}
    </script>
</body>

</html>